/* styles.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype'); /* Kalın font */
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(135deg, #E95793, #DA0C81);
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 3em;
    text-align: center;
}

header h4 {
    font-size: 1.5em;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFD700;
    transform: translateY(-3px);
}

.section {
    padding: 60px 0;
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #01204E;
}

.col-md-8 p {
    margin-bottom: 20px;
    color: #666;
}

.col-md-8 strong {
    color: #01204E;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
}

.portfolio-item {
    border: 1px solid #ddd;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
}

.portfolio-item h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #01204E;
}

.portfolio-item p {
    color: #666;
    font-size: 1.1em;
    padding: 20px;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.technologies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.technology-item {
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}

.technology-item img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.technology-item:hover {
    transform: scale(1.1);
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #fff;
    font-size: 1.5em;
}

footer {
    background: linear-gradient(135deg, #0063B2, #01204E);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1.1em;
}